/* This file is for the styling of global template elements. Header and footer */
@import url(utils.css);

/* General  */
nav li a[aria-current="page"] {
  color: var(--clr-primary-shade);
}
/* Header */
.main-header {
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
  padding: var(--sp-200);
}
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: var(--font-family-headings);
  font-size: var(--sp-200);
}
.main-header__nav {
  display: flex;
  gap: var(--content-gap);
}
.main-header__nav li a {
  font-size: calc(var(--fs-links) - 0.5rem);
}
.main-header__nav li a:hover,
.main-header__nav li a:focus {
  transition: 0.3s ease-in-out;
  color: var(--clr-primary-shade);
}

/* FOOTER */
.site__footer {
  background-color: var(--clr-surface);
  padding: var(--section-padding-md);
}
.site__footer h3 {
  font-size: var(--fs-h5);
}
.site__footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__site__info,
.footer__site__links {
  display: grid;
  gap: var(--content-gap);
}
.footer__socials {
  display: grid;
  gap: var(--content-gap-2);
}
.footer__socials__links {
  display: flex;
  gap: var(--content-gap);
}
.footer__socials img {
  max-width: 70%;
}

/* Reusable Sections  */
/* REASONS */
.why h2 {
  text-align: center;
  margin-bottom: var(--sp-250);
}

.reason {
  align-items: center;
}
.reason__listing {
  gap: var(--content-gap-2);
}
.reason-text {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}
.reason:nth-child(even) > *:last-child {
  order: -1;
}

/* CONSIGN CTA */
.consign-cta {
    background-color: var(--clr-primary-shade);
    color: var(--clr-white);
  }
  .consign-cta[data-cta-theme="light"] {
    background-color: var(--clr-white);
    color: var(--clr-black);
  }
  .consign-cta >.container {
    display: grid;
    gap: var(--sp-200);
    justify-content: center;
    place-items: center;
    text-align: center;
  }
  
  /* CONTACT */
.contact__top__text{
  text-align: center;
  justify-content: center;
}
.contact >.container {
  display: grid;
  gap: var(--content-gap-2);
}
/* Contact Form Module Styling */
.contact__form {
  display: grid;
  gap: var(--content-gap);
}

.contact__form > .contact__form--name__feilds {
  
  --grid-2: repeat(2, 50%);
  display: grid;
  grid-template-columns: var(--grid-2);
  gap: var(--content-gap);
}
.contact__form > .btn__primary {
  justify-self: left;
}
/* Media queries  */

@media (max-width: 730px) {
  .main-header {
    position: static;
  }
  .main-header__content {
    display: grid;
    gap: var(--content-gap);
  }
  .main-header__nav {
    display: grid;
    margin-left: 0;
  }
  .contact__form > .contact__form--name__feilds {
    --grid-2: 100%;
  }

  .site__footer__content {
    display: grid;
    gap: var(--content-gap);
  }
}
