@import url(../utils.css);
/* CONTACT METHODS */
.methods {
  background-color: var(--clr-surface);
}

.methods h2 {
    text-align: center;
}
.methods > .container {
  display: grid;
  gap: calc(var(--content-gap-2) * 1.5);
}

/* VISIT */
.visit {
  background-color: var(--clr-primary-shade);
  color: var(--clr-white);
}
.visit h2 {
  text-align: center;
}

.visit > .container {
  display: grid;
  gap: var(--content-gap-2);
}

.visit-grid {
  align-items: center;
}

/* Media Query  */
@media (max-width: 730px) {
  .visit h2,.methods h2 {
    text-align: left;
  }
}
